@page "/Admin"
@using WeddingWebsite.Components.Admin
@using WeddingWebsite.Components.Layouts

@attribute [Authorize(Roles = "Admin")]

@layout SimpleLayout

<PageTitle>Admin Page</PageTitle>

<h1>Admin Page</h1>

<div class="links-container">
    <p>Links:</p>
    <a href="/account/register" role="button" class="button">Add New Account</a>
    <a href="/todo" role="button" class="button">Go to To-Do List</a>
    <a href="/admin/rsvp/table" role="button" class="button">View RSVP Responses</a>
    <a href="/admin/email/compose" role="button" class="button">Send Email</a>
</div>

<h2>Recent Activity</h2>
<p>Check out what's been happening recently. You'll need to opt-in to seeing events other than logins.</p>
<RecentActivity/>

<h2>User Accounts</h2>
<p>In this section you can view all of the accounts and update details.</p>
<AccountList/>

<a class="button grey-button" href="/">Back to Home</a>

@code {
    
}