@page "/Admin/Account/{UserId}"

@using Microsoft.AspNetCore.Identity
@using WeddingWebsite.Components.Layouts
@using WeddingWebsite.Data

@layout SimpleLayout

@attribute [Authorize(Roles = "Admin")]

@inject UserManager<Account> UserManager

<div class="narrow-section">
    <h1 class="text-center">Manage Account</h1>

    @if (SomethingDiffers)
    {
        <p>You have unsaved changes. Press the apply button besides the red input(s) to apply.</p>
    }

    <div class="flex-container">
        <label for="email">Email</label>
        <span class="flex-grow"></span>
        <input @bind-value="Email" id="email" class="mr @EmailDiffers" />
        <button @onclick="ApplyEmailChange">Apply</button>
    </div>
</div>

@code {
    [Parameter] public required string UserId { get; set; }

    private Account? Account { get; set; }

    private string ErrorText { get; set; } = "";
    private string Email { get; set; } = "";

    private bool SomethingDiffers => EmailDiffers != "";
    private string EmailDiffers => Account is null || Account.Email == Email ? "" : "input-error";

    protected override async Task OnInitializedAsync()
    {
        Account = await UserManager.FindByIdAsync(UserId);
        Email = Account?.Email ?? "";
    }

    private void ApplyEmailChange()
    {
        if (Account is null)
        {
            return;
        }

        Account.Email = Email;
        Account.UserName = Email;
        var result = UserManager.UpdateAsync(Account).Result;
        if (!result.Succeeded)
        {
            ErrorText = string.Join(", ", result.Errors.Select(e => e.Description));
        }
    }

}