@using WeddingWebsite.Components.Interactivity

<div class="container">
    <DatePart Label="Month" Value="Months"/><BigColon/>
    <DatePart Label="Week" Value="Weeks"/><BigColon/>
    <DatePart Label="Day" Value="Days"/><BigColon/>
    <DatePart Label="Hour" Value="Hours"/><BigColon/>
    <DatePart Label="Minute" Value="Minutes"/><BigColon/>
    <DatePart Label="Second" Value="Seconds"/>
</div>

<div id="countdown-date">@CountdownTo.ToString("yyyy-MM-ddTHH:mm:ss")</div>


@code {
    [Parameter]
    public required DateTime CountdownTo { get; set; }
    
    // Only used in first time render
    
    private int Months { get; set; }
    private int Weeks { get; set; }
    private int Days { get; set; }
    private int Hours { get; set; }
    private int Minutes { get; set; }
    private int Seconds { get ; set; }
    
    private void OnTimeChange() {
        var months = 0;
        var currentDate = DateTime.Now;
        
        while (currentDate.AddMonths(1) < CountdownTo) {
            currentDate = currentDate.AddMonths(1);
            months++;
        }
        Months = months;
        
        var timeSpan = CountdownTo - currentDate;
        
        Weeks = (int) Math.Floor((double) timeSpan.Days / 7);
        Days = timeSpan.Days % 7;
        Hours = timeSpan.Hours;
        Minutes = timeSpan.Minutes;
        Seconds = timeSpan.Seconds; 
    }

    protected override void OnInitialized() {
        OnTimeChange();
    }
}