.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    min-width: 50px;
}

.value {
    font-size: clamp(20px, 5vw, 24px);
}

.label {
    font-size: clamp(12px, 3vw, 16px);
}