<Section>
    <div class="center" style="background-color: @Colour">
        @ChildContent
    </div>
</Section>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string Colour { get; set; } = "white";
}