<section class="@(Padding ? "with-padding" : "")" style="background: @Background">
    @if (Center) {
        <div class="centered">
            @ChildContent
        </div>
    } else {
        @ChildContent
    }
</section>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public bool Center { get; set; } = false;
    
    [Parameter]
    public bool Padding { get; set; } = true;
    
    [Parameter]
    public string Background { get; set; } = "transparent";
}