@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

<h2 style="color: @TextColour">@ChildContent</h2>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private Colour TextColour => Theme?.Background.GetTextColour() ?? Colour.DarkGrey;
}