@using WeddingWebsite.Components.Containers

<SideBySide>
    <LeftContent>
        <div class="box">
            <RoundedCornerBox>
                <div class="box-inner">
                    @Box1
                </div>
            </RoundedCornerBox>
        </div>
    </LeftContent>
    <RightContent>
        <div class="box">
            <RoundedCornerBox>
                <div class="box-inner">
                    @Box2
                </div>
            </RoundedCornerBox>
        </div>
    </RightContent>
</SideBySide>
    


@code {
    [Parameter]
    public required RenderFragment Box1 { get; set; }
    
    [Parameter]
    public required RenderFragment Box2 { get; set; }
}