@using WeddingWebsite.Components.Containers

<Section>
    <SideBySide>
        <LeftContent>
            <div class="box">
                <RoundedCornerBox>
                    @Box1
                </RoundedCornerBox>
            </div>
        </LeftContent>
        <RightContent>
            <div class="box">
                <RoundedCornerBox>
                    @Box2
                </RoundedCornerBox>
            </div>
        </RightContent>
    </SideBySide>
</Section>
    


@code {
    [Parameter]
    public required RenderFragment Box1 { get; set; }
    
    [Parameter]
    public required RenderFragment Box2 { get; set; }
}