@using WeddingWebsite.Client.Models.Theme

<span style="color: @TextColour">:</span>

@code {

    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private Colour TextColour => Theme == null ? Colour.DarkGrey : Theme.Background.GetTextColour();

}
