@page "/auth"

@using WeddingWebsite.Models.WeddingDetails

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<p>@groomName</p>

@code {
    readonly string groomName = new SecretWeddingDetails().Groom.FirstName;
}