@page "/Error"
@using System.Diagnostics
@using WeddingWebsite.Components.Layouts
@using WeddingWebsite.Models.WeddingDetails

@layout SimpleLayout

@inject IWeddingDetails WeddingDetails

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error</h1>

<p>
    Something went wrong, and it's probably our fault. If this keeps happening, please get in touch with @WeddingDetails.LoginContactMethod?.Text and say what you were doing to trigger the issue.
</p>

@if (ShowRequestId) {
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}