@page "/Gallery"

@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<div style="margin-top: 50px;"></div>

<Section>
    <SectionHeading>Gallery</SectionHeading>

    @foreach (var sect in WeddingDetails.Gallery.Sections)
    {
        <h2>@sect.Title</h2>
        <p>@sect.Description</p>
        <div class="gallery-images">
            @foreach (var img in sect.Items)
            {
                <img class="gallery-image" src="@img.Image.Url" alt="@img.Image.AltText" />
            }
        </div>
    
    }
</Section>


@code {
    
}
