.main-image-content {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.bride-and-groom-names {
    margin-top: 35vh;
    width: 100%;
    text-align: center;
    font-family: Amsterdam, cursive;
    color: var(--bg-primary);
    font-size: 64px;
    text-shadow: 2px 2px 4px #000000;
}

.wedding-date {
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 2px #000000;
}

.bottom-spacer {
    height: 50px;
}