.bride-and-groom-names {
    position: absolute;
    top: 35vh;
    width: 100%;
    text-align: center;
    font-family: Amsterdam, Brush Script MT, American Typewriter, cursive;
    color: var(--bg-primary);
    font-size: 64px;
    text-shadow: 2px 2px 4px #000000;
}

.wedding-date {
    position: absolute;
    top: 60vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 2px #000000;
}

.bottom-spacer {
    height: 50px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}