.bride-and-groom-names {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-family: Brush Script MT, American Typewriter, cursive;
    color: var(--primary);
    font-size: 108px;
    text-shadow: 2px 2px 4px #000000;
}

.wedding-date {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 2px #000000;
}

.bottom-spacer {
    height: 50px;
}