@using WeddingWebsite.Components.Layouts

@layout MainLayout

<div class="not-found-container">
    <h1>404</h1>
    <h2>Not Found</h2>

    <p>The path <code>@Path</code> does not exist.</p>

    <p class="end-button"><a href="/">Back to Homepage</a></p>
</div>

@code {
    [Parameter]
    public required string Path { get; set; }
}