@page "/Registry"

@using WeddingWebsite.Components.Layouts

@layout SimpleLayout

<h1>Registry</h1>
<p>Gifts are not required, but if you would like to give us a gift then there will be a registry closer to the time.</p>

@code {
    
}