@page "/Account/AccessDenied"

@using WeddingWebsite.Components.Layouts

@layout MainLayout

<div class="not-found-container">
    <h1>403</h1>
    <h2>Forbidden</h2>

    <p>You do not have permission to access this resource.</p>

    <p class="end-button"><a href="/">Back to Homepage</a></p>
</div>

@code {

}