@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WebsiteElement

@inject IWebsiteConfig Config

<a class="@CssClass @VariantClass" href="@Url" style="@Css">
    @ChildContent
</a>

@if (Variant == ButtonVariant.Outlined)
{
    <style>
        .background-@Colour.GetHex().Substring(1):hover {
            background-color: @Colour;
        }
    </style>
}

@code {
  
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string? Url { get; set; }
    
    [Parameter]
    public string CssClass { get; set; } = "";
    
    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Filled;

    private string Css => Variant == ButtonVariant.Filled ? "background: " + Colour : $"border-color: {Colour}; color: {Colour}";
    private string VariantClass => Variant == ButtonVariant.Filled ? "filled" : $"outlined background-{Colour.GetHex().Substring(1)}";
    
    [CascadingParameter]
    private SectionTheme? Theme { get; set; }
    
    private Colour Colour => Theme?.Primary ?? Config.Colours.Primary;
}