a {
    border: none;
    transition-duration: 0.2s;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 16px;
    margin-right: 4px;
    color: var(--mud-palette-text-primary);
    display: inline-block;
}

.filled:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.outlined {
    border-style: solid;
    border-width: 2px;
}

.outlined:hover {
    color: white !important;
}