@using WeddingWebsite.Models.Theme

<a class="@CssClass" href="@Url" style="background: @Colour">
    @ChildContent
</a>

@code {
  
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string? Url { get; set; }
    
    [Parameter]
    public string CssClass { get; set; } = "";
    
    [CascadingParameter]
    private SectionTheme? Theme { get; set; }
    
    private string Colour => Theme?.Primary.ToString() ?? "var(--primary)";
}