@using WeddingWebsite.Models.WebsiteElement

@if (Element is WebsiteImage) {
    <img class="website-element" src=@(((WebsiteImage)Element).Url) alt=@(((WebsiteImage)Element).AltText) />
} else if (Element is WebsiteGoogleMapsEmbed) {
    <GoogleMapsEmbed Location=@(((WebsiteGoogleMapsEmbed)Element).Location) />
} else if (Element is not null) {
    <p>Website element type not recognised: @Element?.GetType()</p>
}

@code {
    [Parameter]
    public IWebsiteElement? Element { get; set; }
}
