@using MudBlazor.Utilities
@using WeddingWebsite.Models.WebsiteConfig
@inherits LayoutComponentBase

@inject IWebsiteConfig Config

<MudPopoverProvider />
<MudDialogProvider />

<div class="page">
    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row">
                    <a href="/">Home</a>
                    <a href="/#timeline">Timeline & Logistics</a>
                    <a href="/#accommodation">Accommodation</a>
                    <a href="javascript:alert('Registry is not yet available');">Registry</a>
                    <a href="javascript:alert('Registry is not yet available');">Gallery</a>
                    <a href="/#contact">Contact</a>
                    <MudSpacer/>
                    <a href="/Account/Logout">Logout</a>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>




<MudThemeProvider Theme="Theme" />

@code{
    MudTheme? Theme {get; set;}
    
    protected override void OnInitialized() {
        Theme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Config.Colours.Primary.ToString(),
                PrimaryLighten = Config.Colours.PrimaryBackground.ToString(),
                Secondary = Config.Colours.Secondary.ToString(),
                Surface = Config.Colours.Surface.ToString()
            },
        };
    } 
}

