@using MudBlazor.Utilities
@inherits LayoutComponentBase

<MudPopoverProvider />
<MudDialogProvider />

<div class="page">
    <main>
        <div class="top-row">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Travel & Accommodation</a>
            <a href="">Registry</a>
            <a href="">Gallery</a>
            <a href="">Contact</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>




<MudThemeProvider Theme="MyCustomTheme" />

@code{
    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = new MudColor(77, 204, 225, 255),
            Secondary = new MudColor(255, 182, 193, 255),
        },
    };
}

