@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider
@inject IStringProvider StringProvider

@if (WeddingDetails is null)
{
    <p>Loading...</p>
    return;
}

<Section Id="accommodation">
    <SectionHeading>@StringProvider.Accommodation</SectionHeading>
    <p class="description">@WeddingDetails.AccommodationDetails.Description</p>
    @foreach (var hotel in WeddingDetails.AccommodationDetails.Hotels.Where(hotel => hotel.Emphasise))
    {
        <AccommodationEmphasised Hotel="hotel" />
    }
    <AccommodationNonEmphasised Hotels="WeddingDetails.AccommodationDetails.Hotels.Where(hotel => !hotel.Emphasise)"/>
</Section>

@code {
    private IWeddingDetails? WeddingDetails { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        WeddingDetails = await ConfigProvider.GetDetailsAsync();
    }
}
