@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Client.Components
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<div style="background-color: var(--tertiary); color: white;">
    <CenteredSection>
        <h2>Contact Details</h2>
        <ContactList Contacts="@WeddingDetails.NotablePeople.Concat(WeddingDetails.ExtraContacts)"/>
    </CenteredSection>
</div>

@code {
    
}