@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.People

@inject IWeddingDetails WeddingDetails

<Section Center="true" Id="contact">
    <SectionHeading>Contact Us</SectionHeading>
    <ContactList
        Contacts="@WeddingDetails.NotablePeople.Concat(WeddingDetails.ExtraContacts)"
        ReasonsToShow="ReasonsToShow"
        ShowUrgencyOption="ShowUrgencyOption"
    />
</Section>

@code {
    [Parameter]
    public required IEnumerable<ContactReason> ReasonsToShow { get; set; }
    
    [Parameter]
    public required bool ShowUrgencyOption { get; set; }
}