@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.People
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider
@inject IStringProvider StringProvider

@if (WeddingDetails is null)
{
    <p>Loading...</p>
    return;
}

<Section Center="true" Id="contact">
    <SectionHeading>@StringProvider.ContactUs</SectionHeading>
    <ContactList
        Contacts="@WeddingDetails.NotablePeople.Concat(WeddingDetails.ExtraContacts)"
        ReasonsToShow="ReasonsToShow"
        ShowUrgencyOption="ShowUrgencyOption"
    />
</Section>

@code {
    [Parameter]
    public required IEnumerable<ContactReason> ReasonsToShow { get; set; }
    
    [Parameter]
    public required bool ShowUrgencyOption { get; set; }
    
    private IWeddingDetails? WeddingDetails { get; set; }
    
    protected override void OnInitialized()
    {
        WeddingDetails = ConfigProvider.GetDetails();
    }
}