@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Client.Components
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<Section Center="true">
    <SectionHeading>Contact Us</SectionHeading>
    <ContactList Contacts="@WeddingDetails.NotablePeople.Concat(WeddingDetails.ExtraContacts)"/>
</Section>

@code {
    
}