@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Elements.Countdown
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider

@if (WeddingDetails is null)
{
    <p>Loading...</p>
    return;
}

<Section Center="true">
    <CountdownToDate CountdownTo="@WeddingDetails.WeddingDate.ToDateTime(WeddingDetails.Events.FirstOrDefault()?.Start ?? TimeOnly.Parse("13:00"))"/>
</Section>

@code {
    private IWeddingDetails? WeddingDetails { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        WeddingDetails = await ConfigProvider.GetDetailsAsync();
    }
}