@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider
@inject IStringProvider StringProvider

@if (WeddingDetails is null)
{
    <p>Loading...</p>
    return;
}

<Section Id="directions">
    <SectionHeading>@StringProvider.Directions</SectionHeading>
    <div class="directions-grid">
        @foreach (var venue in WeddingDetails.Events.Select(ev => ev.Venue).DistinctBy(v => v.Name).ToList())
        {
            @if (venue.Directions != null)
            {
                <VenueDirections Venue="venue" OnlyOneVenue="WeddingDetails.Events.Select(ev => ev.Venue).DistinctBy(v => v.Name).Count() == 1" />
            }
        }
    </div>
    
</Section>

@code {
    private IWeddingDetails? WeddingDetails { get; set; }
    
    protected override void OnInitialized()
    {
        WeddingDetails = ConfigProvider.GetDetails();
    }
}