@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.WeddingDetails
@using WeddingWebsite.Components.WeddingComponents

@inject IWeddingDetails WeddingDetails

<Section Id="directions">
    <SectionHeading>Directions</SectionHeading>
    <div class="directions-grid">
        @foreach (var venue in WeddingDetails.Events.Select(ev => ev.Venue).DistinctBy(v => v.Name).ToList())
        {
            @if (venue.Directions != null)
            {
                <VenueDirections Venue="venue" OnlyOneVenue="WeddingDetails.Events.Select(ev => ev.Venue).DistinctBy(v => v.Name).Count() == 1" />
            }
        }
    </div>
    
</Section>

@code {
    
}