@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.People

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider

<Section>
    @if (WrapInBox)
    {
        <Box Horizontal="true">
            <TopContent>
                <WebsiteElement Element="WeddingDetails.DressCode.Media" Cover="true" MaxHeight="300px"/>
            </TopContent>
            <ChildContent>
                <h2>@StringProvider.DressCode</h2>
                <DressCode Dress="WeddingDetails.DressCode" Contact="Contact"/>
            </ChildContent>
        </Box>
    }
    else
    {
        <SectionHeading>@StringProvider.DressCode</SectionHeading>
        <SideBySide HalfSpacing="10px">
            <LeftContent>
                <div class="dress-code-no-box-image box-shadow">
                    <WebsiteElement Element="WeddingDetails.DressCode.Media" MaxHeight="300px" Cover="true"/>
                </div>
            </LeftContent>
            <RightContent>
                <DressCode Dress="WeddingDetails.DressCode" Contact="Contact"/>
            </RightContent>
        </SideBySide>
    }
</Section>

@code {
    [Parameter] public required bool WrapInBox { get; set; }
    
    [Parameter] public required bool ShowContact { get; set; }

    private IContact? Contact => !ShowContact ? null : 
        WeddingDetails.Contacts.FirstOrDefault(c => c.ContactDetails.NotUrgent.MatchesReason(ContactReason.DressCode))
        ?? WeddingDetails.Contacts.FirstOrDefault(c => c.ContactDetails.Urgent.MatchesReason(ContactReason.DressCode));

}