@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider
@inject IStringProvider StringProvider

@if (WeddingDetails is null)
{
    <p>Loading...</p>
    return;
}

<Section Padding="false">
    <div style="padding-top: 25px;"></div>
    <SectionHeading>@StringProvider.HowWeMet</SectionHeading>
    <HowWeMet Backstory="WeddingDetails.Backstory"/>
</Section>

@code {
    private IWeddingDetails? WeddingDetails { get; set; }
    
    protected override void OnInitialized()
    {
        WeddingDetails = ConfigProvider.GetDetails();
    }
}