@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails

<Section Padding="false">
    <div style="padding-top: 25px;"></div>
    <SectionHeading>How We Met</SectionHeading>
    <HowWeMet Backstory="WeddingDetails.Backstory"/>
</Section>

@code {
    
}