@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider

<Section Padding="false">
    <div style="padding-top: 25px;"></div>
    <SectionHeading>@StringProvider.HowWeMet</SectionHeading>
    <HowWeMet Backstory="WeddingDetails.Backstory"/>
</Section>

@code {
    
}