@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider

<Section>
    <SectionHeading>@StringProvider.OrderOfTheDay</SectionHeading>
    <SimpleTimeline Events="WeddingDetails.Events"/>
</Section>

@code {

}