@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents

<div style="background-color: var(--secondary-background);">
    <SectionNoPadding>
        <WeddingTimeline/>
    </SectionNoPadding>
</div>

@code {
    
}