@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails

<Section Padding="@ShowHeading" Id="timeline">
    @if (ShowHeading) {
        <SectionHeading>Order of the Day</SectionHeading>
    }
    <WeddingTimeline Events="WeddingDetails.Events" AccommodationDetails="WeddingDetails.AccommodationDetails" ShowTravelDirections="ShowTravelDirections"/>
</Section>

@code {
    [Parameter]
    public bool ShowHeading { get; set; } = false;
    
    [Parameter]
    public bool ShowTravelDirections { get; set; } = true;
}
