@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents

<Section Padding="@ShowHeading" Id="timeline">
    @if (ShowHeading) {
        <SectionHeading>Order of the Day</SectionHeading>
    }
    <WeddingTimeline/>
</Section>

@code {
    [Parameter]
    public bool ShowHeading { get; set; } = false;
}
