@using WeddingWebsite.Models.Validation
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Services
@using Section = WeddingWebsite.Components.Sections.Section

@inject IWebHostEnvironment Environment
@inject IDetailsAndConfigValidator Validator
@inject IConfigProvider ConfigProvider
@inject IRsvpForm RsvpConfig

@if (Config is null || WeddingDetails is null) {
    <p>Loading...</p>
    return;
}

@if (Environment.IsDevelopment()) {
    <CascadingValue Value="Theme">
        <Section Padding="false">
            <ValidationIssuesList Issues="@Validator.Validate(WeddingDetails, Config, RsvpConfig)" />
        </Section>
    </CascadingValue>
}

@code {
    private SectionTheme Theme => new (new Colour(255, 0, 0, true), Config!.Colours.Primary, new BoxStyle(BoxType.FilledRounded, new SectionTheme(Colour.White, Config.Colours.Primary, null)));
    
    private IWeddingDetails? WeddingDetails { get; set; }
    private IWebsiteConfig? Config { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        WeddingDetails = await ConfigProvider.GetDetailsAsync();
        Config = await ConfigProvider.GetConfigAsync();
    }
}