@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider
@inject IStringProvider StringProvider

@if (WeddingDetails is null)
{
    <p>Loading...</p>
    return;
}

<Section>
    <SectionHeading>@StringProvider.VenueShowcase</SectionHeading>
    <VenueShowcase Venues="WeddingDetails.Events.Select(ev => ev.Venue).DistinctBy(v => v.Name).ToList()"/>
</Section>

@code {
    private IWeddingDetails? WeddingDetails { get; set; }
    
    protected override void OnInitialized()
    {
        WeddingDetails = ConfigProvider.GetDetails();
    }
}