.login-modal {
    max-width: 300px;
    margin: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

h1 {
    margin-bottom: 15px;
}

label, p {
    margin-bottom: 8px;
}