@using WeddingWebsite.Models.Accommodation
@using WeddingWebsite.Components.Elements
@using LinkButton = WeddingWebsite.Components.Elements.LinkButton

@using WeddingWebsite.Models.WebsiteElement

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Price</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var hotel in Hotels) {
        <tr>
            <td>@hotel.Name</td>
            <td>@hotel.DrivingTimeFromVenueMinutes min</td>
            <td>@hotel.ApproximatePrice</td>
            <td>
                <LinkButton Url="@hotel.Link" Variant="ButtonVariant.Outlined">Visit Website</LinkButton>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public required IEnumerable<Hotel> Hotels { get; set; }
}