@using WeddingWebsite.Models

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Price</th>
        <th>Exclusive Discount</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var hotel in Hotels) {
        <tr>
            <td>@hotel.Name</td>
            <td>@hotel.DrivingTimeFromVenueMinutes min</td>
            <td>£@hotel.ApproximatePrice</td>
            <td>@hotel.Discount.ToString()</td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public required IEnumerable<Hotel> Hotels { get; set; }
}