@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Models

<Box>
    <h3>Other Options</h3>
    <AccommodationList Hotels="Hotels"></AccommodationList>
</Box>

@code {
    [Parameter]
    public required IEnumerable<Hotel> Hotels { get; set; }
}