@using WeddingWebsite.Models.People

<table>
    <thead>
    <tr>
        <th>Person</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Responsible For</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var contact in Contacts) {
        <tr>
            <td>@contact.NameAndRole</td>
            <td>@(contact.ContactDetails.PhoneNumber ?? "N/A")</td>
            @if(contact.ContactDetails.Email == null) {<td>N/A</td>}
            else {<td><a href="mailto:@contact.ContactDetails.Email">@contact.ContactDetails.Email</a></td>}
            <td>@contact.ReasonForContacting</td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public required IEnumerable<IContact> Contacts { get; set; }
}