@using WeddingWebsite.Models.People
@using WeddingWebsite.Client.Config

@inject IWebsiteConfig Config

<div>
    @foreach (var person in People) {
        <div class="container">
            @if (DisplayMode == MeetWeddingPartyDisplay.Default) {
                <WeddingPartyIntroduction Person="@person" IsOnLeftSide="@IsOnLeftSide"/>
            } else {
                <WeddingPartyIntroductionChat Person="@person" IsOnLeftSide="@IsOnLeftSide"/>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<NotablePerson> People { get; set; }
    
    [Parameter]
    public required bool IsOnLeftSide { get; set; }
    
    [Parameter]
    public required MeetWeddingPartyDisplay DisplayMode { get; set; }
}
