.container {
    text-align: left;
    margin: 20px 15px;
}

.inner-container {
    padding: 10px;
}

.name-and-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name {
    display: inline;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
}

.role {
    display: inline;
    margin-bottom: 0;
}

p {
    margin-bottom: 5px;
}