@using WeddingWebsite.Models.People

<div>
    @foreach (var person in People) {
        <div class="container">
            <WeddingPartyIntroductionChat Person="@person" IsOnLeftSide="@IsOnLeftSide"/>
        </div>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<NotablePerson> People { get; set; }
    
    [Parameter]
    public required bool IsOnLeftSide { get; set; }
}
