@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Models.Theme

<a href="/registry/@Item.Id">
    <Box CustomCss="height: 300px;">
        <TopContent>
            @if (Item.ImageUrl != null)
            {
                <img src="@Item.ImageUrl" alt=""/>
            }
        </TopContent>
        <ChildContent>
            <h2>@Item.Name</h2>
            <div class="cost-and-button">
                @if (Item.PurchaseMethods.Any())
                {
                    <p class="cost">£@Item.CheapestCost.ToString("0.00")</p>
                }
                else
                {
                    <p class="cost"></p>
                }
                <button style="background: @ButtonColour">View</button>
            </div>
            
        </ChildContent>
    </Box>
</a>

@code {
    [Parameter]
    public required Models.Registry.RegistryItem Item { get; set; }
    
    [CascadingParameter]
    private SectionTheme? Theme { get; set; }
    
    private string ButtonColour => Theme?.Primary.ToString() ?? "var(--primary)";
}