@using WeddingWebsite.Models.Todo
@using WeddingWebsite.Services
@using WeddingWebsite.Components.Elements

@inject ITodoService TodoService

<div class="todo-item">
    <div class="todo-text">@Item.Text</div>
    <MudSpacer/>
    @if (Item.OwnerEmail != null)
    {
        <div class="todo-owner">Owner: @Item.OwnerEmail</div>
    }
    else
    {
        <div class="todo-owner">No owner assigned</div>
    }
    @if (Item.Status == TodoItemStatus.ActionRequired)
    {
        <Button OnClick="MarkItemAsWaiting">Waiting</Button>
    }
    @if (Item.Status is TodoItemStatus.ActionRequired or TodoItemStatus.Waiting)
    {
        <Button OnClick="MarkItemAsCompleted">Done</Button>
    }
</div>

@code {
    [Parameter]
    public required TodoItem Item { get; set; }

    private void MarkItemAsCompleted()
    {
        TodoService.MarkItemAsCompleted(Item.Id);
    }
    
    private void MarkItemAsWaiting()
    {
        TodoService.MarkItemAsWaiting(Item.Id, TimeSpan.FromDays(3));
    }
}
