@using WeddingWebsite.Core
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.Todo
@using WeddingWebsite.Services

@inject ITodoService TodoService

<Box CustomCss="margin-bottom: 10px">
    @if (Items.GetGroup()?.Name != null)
    {
        <h3>@Items.GetGroup().Name</h3>
    }
    @foreach (var item in Items)
    {
        <TodoListItem Item="item" ParentStateHasChanged="ParentStateHasChanged" />
    }
    @if (Items.GetGroup() != null)
    {
        <div class="group-actions">
            <Button OnClick="AddNewItem">New Item in Group</Button>
            @if (Items.Count() == 1)
            {
                <Button OnClick="Ungroup">Ungroup</Button>
            }
        </div>
    }
</Box>

@code {
    [Parameter]
    public required IEnumerable<TodoItem> Items { get; set; }
    
    [Parameter]
    public Action? ParentStateHasChanged { get; set; }

    private void Ungroup()
    {
        if (Items.Count() > 1) return;
        var item = Items.First();
        TodoService.RemoveGroupFromItem(item.Id);
        ParentStateHasChanged?.Invoke();
    }
    
    private void AddNewItem()
    {
        if (Items.GetGroup() == null) return;
        TodoService.AddNewItem(Items.GetGroup()?.Id);
        ParentStateHasChanged?.Invoke();
    }
}