@using WeddingWebsite.Models.Todo
@using WeddingWebsite.Services
@using WeddingWebsite.Components.Elements

@inject ITodoService TodoService

@if (Item == null)
{
    <div>ERROR: Item not found.</div>
    return;
}

<div class="todo-item">
    @if (IsEditing)
    {
        <input type="text" @bind="Text" class="todo-edit-input" placeholder="What needs doing?" />
    }
    else
    {
        <div class="todo-text">@Item.Text</div>
    }
    <MudSpacer/>
    @if (Item.OwnerEmail != null)
    {
        <div class="todo-owner">Owner: @Item.OwnerEmail</div>
    }
    else
    {
        <div class="todo-owner">No owner assigned</div>
    }
    @if (IsEditing)
    {
        <Button OnClick="SaveEdits">Save</Button>
        <Button OnClick="CancelEdits">Cancel</Button>
    }
    else
    {
        @if (Item.Status is TodoItemStatus.Waiting or TodoItemStatus.Completed)
        {
            <Button OnClick="MarkItemAsActionRequired">Action Required</Button>
        }
        @if (Item.Status == TodoItemStatus.ActionRequired)
        {
            <Button OnClick="MarkItemAsWaiting">Waiting</Button>
        }
        @if (Item.Status is TodoItemStatus.ActionRequired or TodoItemStatus.Waiting)
        {
            <Button OnClick="MarkItemAsCompleted">Done</Button>
        }
        <button @onclick="EnableEditMode" class="invisible-button">
            <MudIcon Icon="@Icons.Material.Filled.Edit"/>
        </button>
    }
    
</div>

@code {
    [Parameter]
    public TodoItem? Item { get; set; }
    
    [Parameter]
    public Action? ParentStateHasChanged { get; set; }
    
    private bool IsEditing { get; set; } = false;
    private string Text { get; set; } = "";

    private void EnableEditMode()
    {
        if (Item == null) return;
        IsEditing = true;
        Text = Item.Text;
        StateHasChanged();
    }
    
    private void SaveEdits()
    {
        ApplyToItem(item => TodoService.RenameItem(item.Id, Text));
        IsEditing = false;
        StateHasChanged();
    }
    
    private void CancelEdits()
    {
        IsEditing = false;
        StateHasChanged();
    }
    
    private void ApplyToItem(Action<TodoItem> action)
    {
        if (Item == null) return;
        action(Item);
        Item = TodoService.GetTodoItem(Item.Id);
        StateHasChanged();
        ParentStateHasChanged?.Invoke();
    }

    private void MarkItemAsCompleted()
    {
        ApplyToItem(item => TodoService.MarkItemAsCompleted(item.Id));
    }
    
    private void MarkItemAsWaiting()
    {
        ApplyToItem(item => TodoService.MarkItemAsWaiting(item.Id, TimeSpan.FromDays(3)));
    }
    
    private void MarkItemAsActionRequired()
    {
        ApplyToItem(item => TodoService.MarkItemAsActionRequired(item.Id));
    }
}
