@using WeddingWebsite.Models.Validation

@if (Issues.Any(issue => issue.Severity != ValidationIssueSeverity.Info)) {
    <div class="container">
        <h2>Validation Issues</h2>
        <p>The validator has noticed some issues in your wedding details and/or website config. Fixing these issues is highly recommended to avoid unexpected behaviour on the website. This window is not visible in production.</p>
        <h3>Errors</h3>
        <ValidationIssuesForSeverity Issues="@Issues.Where(issue => issue.Severity == ValidationIssueSeverity.Error)" />
        <h3>Warnings</h3>
        <ValidationIssuesForSeverity Issues="@Issues.Where(issue => issue.Severity == ValidationIssueSeverity.Warning)" />
        <h3>Info</h3>
        <ValidationIssuesForSeverity Issues="@Issues.Where(issue => issue.Severity == ValidationIssueSeverity.Info)" />
    </div>
}

@code {
    [Parameter]
    public required IEnumerable<ValidationIssue> Issues { get; set; }
}