@using WeddingWebsite.Models.Validation

@if (!Issues.Any()) {
    <p>No issues</p>
}
@foreach (var issue in Issues) {
    <p>@issue.Message</p>
}

@code {
    [Parameter]
    public IEnumerable<ValidationIssue> Issues { get; set; }
}