@using WeddingWebsite.Models.Validation
@using WeddingWebsite.Components.Containers

@if (Issues == null || !Issues.Any()) {
    <p>There are no validation issues in this section.</p>
} else {
    @foreach (var issue in Issues) {
        <Box>@issue.Message</Box>
        <div style="height: 5px;"></div>
    }
}

@code {
    [Parameter]
    public IEnumerable<ValidationIssue>? Issues { get; set; }
}