@using WeddingWebsite.Models.Venues

@if(VenueType != null) {
    <p>@VenueType</p>
}
<h3>@Venue.Name</h3>
<p>@Venue.Address</p>
<a href="@Venue.Location.GetGoogleMapsLink()">Google Maps</a>

@code {
    [Parameter]
    public required Venue Venue { get; set; }
    
    [Parameter]
    public string? VenueType { get; set; }
}