@using MudBlazor
@using WeddingWebsite.Core
@using WeddingWebsite.Models.People
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config

<h2>What is your enquiry about?</h2>
<p>This will affect who you should contact.</p>
<MudSelect @bind-Value="ContactReason" Label="Category of Enquiry" Variant="Variant.Outlined" Required="true">
    @foreach (var reason in Config.ContactReasonsToShow) {
        <MudSelectItem Value="reason">@reason.GetEnumDescription()</MudSelectItem>
    }
</MudSelect>

<h2>Is it urgent?</h2>
<MudToggleGroup @bind-Value="IsUrgent">
    <MudToggleItem Value="true">Yes</MudToggleItem>
    <MudToggleItem Value="false">No</MudToggleItem>
</MudToggleGroup>
<p>@ResponseTimelineString</p>


@code {
    [Parameter]
    public required IEnumerable<IContact> Contacts { get; set; }
    
    private ContactReason ContactReason { get; set; }

    private bool IsUrgent { get; set; }
    
    private string ResponseTimelineString => IsUrgent ? "We'll get back to you as soon as possible." : "We'll get back to you within 48 hours.";
}