@using WeddingWebsite.Models.Theme

<span class="container @CssShadow" style="background-color: @Background">
    <span class="value">@Value</span>
    <span class="label">@(Value == 1 ? Label : Plural)</span>
</span>

@code {
    [Parameter]
    public required string Label { get; set; }
    
    [Parameter]
    public string Plural { get; set; } = "";
    
    [Parameter]
    public required int Value { get; set; }
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private string Background => Theme is { BoxStyle: not null } ? Theme.BoxStyle.InnerTheme.Background.ToString() : "var(--primary)";
    private string CssShadow => Theme is { BoxStyle.InnerTheme.Background.IsDark: false } ? "box-shadow" : "";

    protected override void OnInitialized() {
        if (Plural == "") {
            Plural = Label + "s";
        }
    }

}