button {
    font-size: 24px;
    background: var(--primary);
    color: var(--primary-dark);
    border: var(--primary-dark);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    transition-duration: 0.2s;
    padding: 5px;
}

button:hover {
    background: var(--bg-primary) !important;
}