@using WeddingWebsite.Client.Models.Theme

<div class="outlined-box" style="background: @Background; color: @Background.GetTextColour()">
    @TopContent
    <div class="outlined-box-inner">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    /// <summary>
    /// Right at the top, before any padding kicks in
    /// </summary>
    [Parameter]
    public RenderFragment? TopContent { get; set; }
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private Colour Background => Theme != null ? Theme.Background : Colour.White;
}
