@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

<div class="outlined-box" style="background: @Background">
    @TopContent
    <div class="outlined-box-inner">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    /// <summary>
    /// Right at the top, before any padding kicks in
    /// </summary>
    [Parameter]
    public RenderFragment? TopContent { get; set; }
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private Colour Background => Theme != null ? Theme.BoxStyle.Background : Colour.White;
}
