@using WeddingWebsite.Models
@using WeddingWebsite.Models.WebsiteElement
@using WeddingWebsite.Components.Elements

<div class="outlined-box">
    @if(Image != null) {
        <img src="@Image.Url" alt="@Image.AltText">
    }
    @if(MapsLocation != null) {
        <GoogleMapsEmbed Location="@MapsLocation"/>
    }
    <div class="outlined-box-inner">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public WebsiteImage? Image { get; set; }
    
    [Parameter]
    public Location? MapsLocation { get; set; }
}
