@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config

<div class="outlined-box @CssHorizontal" style="@Background.GetBackgroundCss(); color: @Background.GetTextColour()">
    <div class="top-content">
        @TopContent
    </div>
    <div class="outlined-box-inner">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    /// <summary>
    /// Right at the top, before any padding kicks in
    /// </summary>
    [Parameter]
    public RenderFragment? TopContent { get; set; }
    
    [Parameter]
    public bool Horizontal { get; set; }
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private IBackground Background => Theme != null ? Theme.Background : Config.Colours.Surface;
    
    private string CssHorizontal => Horizontal ? "horizontal" : "";
}
