.outlined-box {
    border-color: var(--primary-dark);
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.top-content {
    flex: 1;
    min-height: 0;
}

.outlined-box-inner {
    padding: 10px 15px;
}

@media only screen and (min-width: 600px) {
    .horizontal {
        flex-direction: row;
    }

    .horizontal .top-content {
        flex: 1;
        max-height: 300px;
        overflow: hidden;
    }

    .horizontal .outlined-box-inner {
        flex: 1;
    }
}
