.rounded-corner-box {
    color: var(--primary-dark);
    border-radius: 25px;
    overflow: hidden;
}

.rounded-corner-box-inner {
    padding: 10px 15px;
}

.shadow {
    box-shadow: 1px 1px 1px 1px #aaa;
}

.horizontal {
    display: flex;
}

.horizontal .top-content {
    flex: 1;
    max-height: 300px;
    overflow: hidden;
}

.horizontal .rounded-corner-box-inner {
    flex: 1;
}