@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config

<div class="rounded-corner-box @CssShadow @CssHorizontal" style="@Background.GetBackgroundCss(); color: @Background.GetTextColour();@CustomCss">
    @if (TopContent != null)
    {
        <div class="top-content">
            @TopContent
        </div>
    }
    <div class="rounded-corner-box-inner">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public RenderFragment? TopContent { get; set; }
    
    [Parameter]
    public bool Horizontal { get; set; }

    [Parameter] 
    public string CustomCss { get; set; } = "";
    
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    private IBackground Background => Theme == null ? Config.Colours.PrimaryBackground : Theme.Background;
    
    private string CssShadow => Theme is { Background.IsDark: false } ? "shadow" : "";

    private string CssHorizontal => Horizontal ? "horizontal" : "";
}