@page "/Registry/Tools"
@using WeddingWebsite.Components.Layouts
@using WeddingWebsite.Services

@layout SimpleLayout

@attribute [Authorize(Roles = "Admin")]

<h1>Registry Tools</h1>
<p>Welcome, administrator, to the registry tools page. Here are a few very specific tools which you might need to use occasionally to save yourself a lot of jumping between menus.</p>
<p class="text-danger">All of these options should be considered destructive actions, and should be done with great care. It is not possible to undo any of these actions.</p>
<p><i>This page is currently empty. If you have any ideas, let me know!</i></p>

@code {

}