@page "/rsvp/{GuestId}"

@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Services
@using Section = WeddingWebsite.Components.Sections.Section

@attribute [Authorize]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebsiteConfig Config
@inject IStringProvider StringProvider
@inject NavigationManager NavigationManager
@inject IRsvpForm RsvpConfig

@rendermode InteractiveServer

<MudSnackbarProvider/>
<MudDialogProvider/>

<PageTitle>@StringProvider.Rsvp</PageTitle>

@if (!Config.OptionalFeatures.Rsvp.IsActive() || Guest == null)
{
    <p style="margin-top: 200px">You seem a bit lost. How about you go back to the <a href="/">homepage</a>?</p>
    return;
}

<CascadingValue TValue="SectionTheme" Value="ThemeNoBackground">
    <Section>
        <div class="form">
            <h1>@StringProvider.Rsvp for @Guest.Name</h1>
            <p>Please complete this form once per guest. Your answers will not be saved until you submit, after which you will be unable to make any changes.</p>
            
            <h2>Are you able to attend?</h2>
            <YesOrNoToggleGroup @bind-Value="IsAttending"/>
            
            @if (IsAttending == true)
            {
                <p>We're very pleased that you are able to come! Please answer a few questions to help us accommodate your preferences and requirements on the day.</p>
                <RsvpFormQuestions Questions="RsvpConfig.YesFormQuestions" IsAttending="true"/>
            }
            else if (IsAttending == false)
            {
                <p>That's a shame, we'll miss you!</p>
                <RsvpFormQuestions Questions="RsvpConfig.NoFormQuestions" IsAttending="false"/>
            }
        </div>
        
    </Section>
</CascadingValue>

<style>
    body {
        @(Theme?.Background.GetBackgroundCss() ?? Config.Colours.Surface.GetBackgroundCss()) !important;
    }
</style>

@code {
    [Inject]
    public required IAccountService AccountService { get; set; }
    
    [Parameter]
    public required string GuestId { get; set; }

    private bool? IsAttending { get; set; }
    
    private Guest? Guest { get; set; }
    private SectionTheme? Theme => Config.RsvpConfig.Theme;
    private SectionTheme? ThemeNoBackground
    {
        get
        {
            if (Theme != null) return Theme with { Background = new NoBackground() };
            return null;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity is not { IsAuthenticated: true })
        {
            return;
        }

        var guests = AccountService.GetOwnGuests(user);
        Guest = guests.FirstOrDefault(g => g.Id == GuestId);

        if (Guest == null)
        {
            NavigationManager.NavigateTo("/rsvp");
        }
        
        if (!Config.OptionalFeatures.Rsvp.IsActive())
        {
            NavigationManager.NavigateTo("/");
        }
    }

}
