@using WeddingWebsite.Models.Rsvp

<MudForm>
    @foreach (var question in Questions)
    {
        <div class="question">
            <h2>
                @question.Title
                @if (question.Required)
                {
                    <span class="required-asterisk">*</span>
                }
            </h2>
            <p>@question.Description</p>
        </div>
    }
</MudForm>


@code {
    [Parameter]
    public required IEnumerable<RsvpQuestion> Questions { get; set; }
    
    [Parameter]
    public required bool IsAttending { get; set; }
    
    private IList<string?> Answers { get; set; } = [];

    protected override void OnInitialized()
    {
        for (int i = 0; i <= 20; i++)
        {
            Answers.Add(null);
        }
    }
}
