@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Components.Interactivity

<div id="background" style="@Background.GetBackgroundCss()">
    @ChildContent
</div>

<div id="background-scroll-amount">@Background.Parallax</div>

<PageScript Src="./Components/Sections/Backgrounds/FractionalParallaxBackground.razor.js" />

@code {
    [Parameter]
    public required BackgroundImage Background { get; set; }
    
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}