<a href="/">Home</a>
<a href="/#timeline">Timeline & Logistics</a>
<a href="/#accommodation">Accommodation</a>
<a href="javascript:alert('Registry is not yet available');">Registry</a>
<a href="javascript:alert('Gallery is not yet available');">Gallery</a>
<a href="/#contact">Contact</a>
@if (!IsMobile)
{
    <MudSpacer/>
}
<AuthorizeView Roles="Admin">
    <a href="/Admin">Admin</a>
</AuthorizeView>
<a href="/Account">My Account</a>
<a href="/Account/Logout">Logout</a>

@code {
    [Parameter]
    public bool IsMobile { get; set; } = false;
}