@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config

<div id="navbar-desktop" class="top-row" style="background-color: @Config.Colours.PrimaryBackground">
    <NavbarContent/>
</div>

@code {
    
}