@using WeddingWebsite.Models.WebsiteConfig

@inject IWebsiteConfig Config

@foreach (var item in Config.Navbar.Items)
{
    <a href="@item.Link">@item.Text</a>
}
@if (!IsMobile)
{
    <MudSpacer/>
}
<AuthorizeView Roles="Admin">
    <a href="/Admin">Admin</a>
</AuthorizeView>
<a href="/Account">My Account</a>
<a href="/Account/Logout">Logout</a>

@code {
    [Parameter]
    public bool IsMobile { get; set; } = false;
}
