.content {
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 100px auto auto;
}

::deep .text-center {
    text-align: center;
}

::deep .mb {
    margin-bottom: 20px;
}

::deep .mr {
    margin-right: 10px;
}

::deep .flex-container {
    display: flex;
    align-items: center;
}

::deep .form-input-and-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

::deep .flex-container p, ::deep .flex-container label {
    margin: 0;
}

::deep h1 {
    margin-bottom: 20px;
}

::deep h2, ::deep h3, ::deep h4, ::deep p, ::deep label, ::deep a {
    margin-bottom: 10px;
}

::deep .flex-grow {
    flex: 1;
}

::deep button, ::deep .button {
    display: inline-block;
    background: var(--primary);
    color: var(--mud-palette-text-primary);
    box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
    font-size: 16px;
    border-radius: 5px;
    padding: 3px 6px;
}

::deep .block-button {
    display: block;
    margin-bottom: 10px;
}

::deep .grey-button {
    background: #aaa;
}

::deep .red-button {
    background: #ff5b5b;
}

::deep button:hover, ::deep .button:hover {
    box-shadow: 1px 2px 12px rgba(0,0,0,0.4);
}

::deep input {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

::deep .input-error {
    border: 1px solid red;
}

::deep .narrow-section {
    max-width: 400px;
    margin: auto;
}

::deep .text-red {
    color: red;
}

::deep .flex-center-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}