@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Services
@inherits LayoutComponentBase

@layout MainLayout

@inject IConfigProvider ConfigProvider

<CascadingValue Value="Theme">
    <div class="content">
        @Body
    </div>
</CascadingValue>

@code{
    private SectionTheme? Theme => Config == null ? null : new (Config.Colours.Surface, Config.Colours.Primary, new BoxStyle(BoxType.OutlinedSquare, new SectionTheme(Colour.White, Config.Colours.Primary, null)));
    
    private IWebsiteConfig? Config { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Config = await ConfigProvider.GetConfigAsync();
    }
}

